/* MISC */
/* Colors */
/* Spacings */
/* font-Sizes */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,100;0,400;1,400;1,500&display=swap");
/* Normalize */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "acme", sans-serif;
  background-image: url(../img/fondo2.jpg);
  background-attachment: fixed; }

ul {
  list-style-type: none; }

a {
  font-family: "acme", sans-serif;
  text-decoration: none;
  color: black; }

img {
  width: 100%; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around; }

/* PARTIAL */
header {
  display: flex;
  background-image: url(../img/fondo.jpg);
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  position: relative; }
  header .hamburger, header #hamburger {
    display: none; }
  header #hamburger {
    position: absolute;
    top: 102px;
    width: 32px;
    height: 32px;
    opacity: 0; }
  header .flex {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  header .imagen {
    max-width: 120px; }
  header nav .menu {
    display: flex;
    gap: 2rem; }
    header nav .menu .menu__link {
      font-size: 2.2em;
      padding: 1rem 102rem;
      border: 2px solid white;
      transition: all 1s; }

@media screen and (max-width: 960px) {
  header {
    flex-direction: column;
    gap: 2rem; }
  .hamburger, #hamburger {
    display: block; }
  #hamburger:checked ~ .navegacion {
    display: block; } }

footer {
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  font-size: 32; }

.fondo {
  display: flex; }

.menu__fondo {
  display: flex;
  list-style: none; }

.fondo__copi {
  display: flex;
  margin: 25px;
  height: 25px;
  color: #f1f4f7;
  font-size: 25px; }

.fondo__copi1 {
  display: flex;
  margin: 15px;
  height: 45px;
  width: 45px; }

/* bootstrap */
.row {
  margin: 15px; }

.card {
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  text-align: center;
  margin: auto; }

.card-title {
  font-size: 40px; }

.btn {
  font-size: 25px;
  color: chocolate; }

/* Main*/
.contenido {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem; }

/* Cards */
.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap; }

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 clamp(200px, 10%, 400px);
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }

.box__info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem; }

.seccion__contacto {
  font-size: 30px;
  position: relative;
  margin: 200px 200px; }

/* PAGES */
section .gallery {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap; }

.gallery__img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 30%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }

/* main */
.imagenf {
  max-width: 1200px;
  margin: 0 auto; }

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem; }
  .gallery .gallery__img:nth-of-type(1) {
    grid-column: 1 / 7; }
  .gallery .gallery__img:nth-of-type(2) {
    grid-column: 7 / 13; }
  .gallery .gallery__img:nth-of-type(3) {
    grid-column: 4 / 10;
    grid-row: 2; }
  .gallery .gallery__img:nth-of-type(4) {
    grid-column: 1 / 7;
    grid-row: 3; }
  .gallery .gallery__img:nth-of-type(5) {
    grid-column: 7 / 13;
    grid-row: 3; }

.navegacion {
  display: none; }

.gallery {
  grid-template-rows: repeat(4, auto);
  gap: 2rem; }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap; }
  .cards .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 1 clamp(200px, 10%, 400px);
    border-radius: 20px;
    box-shadow: 5px 8px 12px black; }
    .cards .box .box__info {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 1rem; }
    .cards .box .btn {
      width: 150px;
      padding: 10px 12px;
      font-size: 18px;
      margin: 0 auto;
      border: none;
      margin: 5px; }
    .cards .box .btn--aceptar {
      background-color: #1fac1f; }
      .cards .box .btn--aceptar:hover {
        background-color: #0f570f; }
      .cards .box .btn--aceptar .btn--cancelar {
        background-color: #e92525; }
        .cards .box .btn--aceptar .btn--cancelar:hover {
          background-color: rgba(156, 11, 11, 0.78); }
      .cards .box .btn--aceptar__img--sobre2 {
        height: 400px;
        background-size: cover;
        background-image: url("../img/sobre.jpg"); }
      .cards .box .btn--aceptar__img--bruja2 {
        height: 400px;
        background-size: cover;
        background-image: url("../img/bruja.jpg"); }
      .cards .box .btn--aceptar__img--nicole2 {
        height: 400px;
        background-size: cover;
        background-image: url("../img/nicole.jpg"); }
      .cards .box .btn--aceptar__img--julia2 {
        height: 400px;
        background-size: cover;
        background-image: url("../img/julia.jpg"); }

.imagen__canguro {
  width: 400px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 200px auto;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  left: 100px; }

.texto__canguro {
  font-size: 20px;
  font-weight: 300px;
  display: inline-block;
  position: relative;
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  left: 100px;
  bottom: 300px; }

.imagen__mel {
  width: 400px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 200px auto;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  left: 100px; }

.texto__mel {
  font-size: 20px;
  font-weight: 300px;
  display: inline-block;
  position: relative;
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  left: 100px;
  bottom: 300px; }

.seccion__contacto {
  font-size: 30px;
  position: relative;
  margin: 200px 200px; }
