<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segunda Piel-Arte en Cuero -Accesorio</title>
    <meta name="descripcion=" content="Diseño, Fabricacion y venta de articulos de cuero vacuno genuino ">
    <meta name="keywords" content="Cuero, Articulos de Cuero, Billetera, Cartera">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="imagen">
        <img class="imagen__item" src="../img/img.jpg" alt="Segunda Piel">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./mujer.html">mujer</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./hombre.html">hombre</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./accesorio.html">accesorio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html">contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <img class="imagen__mel" src="../img/mel.jpg" alt="porta celular">
    <p class="texto__mel">
        Portacelular MEL! 
Vienen para uno o dos celulares!
Ustedes qué prefieren!? 
    </p>
    <footer>
        <ul class="menu__fondo">
            <li class="fondo__copi">Copiright todos los derechos reservados</li>
            <li class="fondo__copi">Seguime en las Redes</li>
            <img class="fondo__copi1" src="../img/Instagram.jpg">
            <img class="fondo__copi1" src="../img/Facebook.jpg">
        </ul>
    </footer>
</body>
</html>