<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arte en cuero</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="imagen">
        <img class="imagen__item" src="../img/img.jpg" alt="Segunda Piel">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./mujer.html">mujer</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./hombre.html">hombre</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./accesorio.html">accesorio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html">contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="seccion__contacto">
            <div id="segunda__piel"></div>
  <form id="segunda__contacto" action="#" method="POST" enctype="multipart/form-data">
  <div class="segunda">
    <label class="formulario" for="name">Nombre y Apellido:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    <span id="mensaje__validado" class="error_message"></span>
  </div>
  <div class="segunda">
    <label class="formulario" for="email">Email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    <span id="mensaje__validado" class="error_message"></span>
  </div>
  <div class="segunda">
    <label class="formulario" for="message">Mensaje:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    <span id="mensaje__validado" class="error_message"></span>
  </div>
  
    <input id="submit_button" type="submit" value="Enviar email" />
  </form>
        </section>
    </main>
    <footer>
        <ul class="menu__fondo">
            <li class="fondo__copi">Copiright todos los derechos reservados</li>
            <li class="fondo__copi">Seguime en las Redes</li>
            <img class="fondo__copi1" src="../img/Instagram.jpg">
            <img class="fondo__copi1" src="../img/Facebook.jpg">
        </ul>
    </footer>
</body>
</html>