<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arte en cuero</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="imagen">
        <img class="imagen__item" src="../img/img.jpg" alt="Segunda Piel">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./mujer.html">mujer</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./hombre.html">hombre</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./accesorio.html">accesorio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html">contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <img class="imagen__canguro" src="../img/canguro.jpg" alt="Billetera">
        <p  class="texto__canguro">
            Billetera CANGURO pensada para que lleves todo y a su vez lo indispensable! Cómo?! Simple, con su tarjetero desmontable! Salís y no querés llevar todo?! Lleva sólo el tarjetero!
        </p>
    </section>
    <footer>
        <ul class="menu__fondo">
            <li class="fondo__copi">Copiright todos los derechos reservados</li>
            <li class="fondo__copi">Seguime en las Redes</li>
            <img class="fondo__copi1" src="../img/Instagram.jpg">
            <img class="fondo__copi1" src="../img/Facebook.jpg">
        </ul>
    </footer>
</body>
</html>