<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arte en cuero</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="imagen">
        <img class="imagen__item" src="../img/img.jpg" alt="Segunda Piel">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./mujer.html">mujer</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./hombre.html">hombre</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./accesorio.html">accesorio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html">contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="contenido">
        <section id="cards" class="cards">
            <article class="box">
                <picture class="box__img">
                    <img src="../img/sobre2.jpg" alt="sobre negro">
                </picture>
                <div class="box__info">
                    <h1 class="box__titulo">sobre AMOR💕</h1>
                    <p class="box__tex">Complemento ideal para quiénes llevamos lo necesario y queremos hacer la diferencia. Con un estilo elegante bien definido. Puntera dorada que hace que sea único.</p>
                </div>
            </article>
            <article class="box">
                <picture class="box__img">
                    <img src="../img/bruja2.jpg" alt="cartera de cuero negro">
                </picture>
                <div class="box__info">
                    <h1 class="box__titulo">BRUJA</h1>
                    <p class="box__tex">Nace en 2013 más o menos y desde entonces a ido mutando de acuerdo a sus gustos personales, necesidades, etc. Con flecos, sin flecos, con patchwork, tipo mochila. 🥰💕Tiene bolsillos internos. La correa es regulable para que puedas usarla cómo cartera. Y además le sumamos correa de cadena!! Ambas son desmontables.</p>
                </div>
            </article>
            <article class="box">
                <picture class="box__img">
                    <img src="../img/nicole2.jpg" alt="cartera de cuero negro">
                </picture>
                <div class="box__info">
                    <h1 class="box__titulo">NICOLE</h1>
                    <p class="box__tex">Es bandolera y mochila. La usas de acuerdo a tu gusto y necesidad. Tiene un bolsillo externo y dos internos!!! </p>
                </div>
            </article>
            <article class="box">
                <picture class="box__img">
                    <img src="../img/julia2.jpg" alt="cartera de cuero negro">
                </picture>
                <div class="box__info">
                    <h1 class="box__titulo">JULIA</h1>
                    <p class="box__tex">Nuestra mochila. Es una de las más pedidas!  Es hermosa. Por dentro tiene dos bolsillos y no es la JULIA convencional, le dimos una vuelta de rosca con el bolsillo frontal.</p>
                </div>
            </article>
        </section>     
    </main>
    
    <footer>
        <ul class="menu__fondo">
            <li class="fondo__copi">Copiright todos los derechos reservados</li>
            <li class="fondo__copi">Seguime en las Redes</li>
            <img class="fondo__copi1" src="../img/Instagram.jpg">
            <img class="fondo__copi1" src="../img/Facebook.jpg">
        </ul>
    </footer>
</body>
</html>