@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,100;0,400;1,400;1,500&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body {
    font-family: "acme", sans-serif;
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
}
.imagenf{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $spacing-small;

}
.imagen__frente{
    display: flex;
    flex-direction: row;
    gap: $spacing-xsmall; 
    flex: 1 1 40%;
    height: 300px;
    width: 300px;
    margin: 25px;
    
}
ul{
    list-style-type: none;
}
a {
    font-family: "acme", sans-serif;
    text-decoration: none;
    color: black;
}
img {
    width: 100%;
}
a:hover{
    background-color: antiquewhite;
}
.imagen__item {
    height: 120px;
    width: 120px;
    display: block;
    margin-right: auto;
}
