.cards {
    @include flex(row, center, stretch, $spacing-xsmall);
   // display: flex;
   //flex-direction: row;
   // gap: $spacing-xsmall;
   // justify-content: center;
    flex-wrap: wrap;

    .box {
        @include flex(column, flex-start, flex-start,  $spacing-xsmall);
       // display: flex;
       // flex-direction: column;
       // gap: $spacing-xsmall; 
        flex: 1 1 clamp(200px, 10%, 400px);
        border-radius: 20px;
        box-shadow: 5px 8px 12px black;

        .box__info {
            display: flex;
            flex-direction: column;
            padding: $spacing-small;
            gap: $spacing-xsmall;  
        }
        .btn {
            width: 150px;
            padding: 10px 12px;
            font-size: 18px;
            margin: 0 auto;
            border: none;
            margin: 5px;
        }
        .btn--aceptar {
            background-color: rgb(31, 172, 31);
            &:hover {
                background-color: rgb(15, 87, 15);
            }

        .btn--cancelar {
                background-color: rgb(233, 37, 37);
                &:hover {
                    background-color: rgba(156, 11, 11, 0.78);
                }
       }
        $carteras: (
            sobre2: "sobre",
            bruja2: "bruja",
            nicole2: "nicole",
            julia2: "julia"
            );
        

        @each $key, $val in $carteras {
            &__img--#{$key} {
                height: 400px;
                background-size: cover;
                background-image: url("../img/#{$val}.jpg");
            }
        }
    }
            
    }
}