@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,100;0,400;1,400;1,500&display=swap');

/* Normalize */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "acme", sans-serif;
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;   
}
    
ul {
    list-style-type: none;
}
a {
    font-family: "acme", sans-serif;
    text-decoration: none;
    color: black;
}
img {
    width: 100%;
}