/* Colors */
$primary: #120D31;
$secondary: #FF5376;
$alternative: #302F4D;
$text-color: #2B2B2B;
$base: #FDF7FA;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* font-Sizes */
$text_large: 5.2em;
$text_medium: 2.2em;
$text_base: 1.6em;
$text_small: 1.4em;
